.k-table {
  border-spacing: 0;
  width: 100%;
}
.k-tr {
  text-align: center;
}
th {
  padding: 10px;
}
.k-table .k-tbody .k-tr:nth-child(odd){
  background-color: #eee
}
.k-table .k-thead {
  background-color: #7b9c85;
  color: white;
}
.k-table .k-thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid #7b9c85;
}
.k-table .k-thead th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #7b9c85;
}
.k-table .k-tbody .k-tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.k-table .k-tbody .k-tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.tx-bk {
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 400px;
}
// .tx-bk{
//   overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//         width: 100px;
// }
.k-th{
  width: 400px;
}