// header {
//   background: #b1b19d;
//   opacity: 0.9;
//   max-height: 70px;
// }
@media screen and (max-width: 800px) {
  .head_nav {
    display: none;
  }
  .transition {
    transition: 0.4s;
  }
  .fruit_ball {
    display: none;
  }
  .map {
    width: 100%;
    height: 100%;
  }
}
.fruit_ball {
  background: #b4d1be;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.fruit_ball img {
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fruit_ball:hover {
  background: rgb(238, 178, 144);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.farmer {
  background: #fafcec;
  width: 500px;
  height: auto;
  border-radius: 5px;
}
.avatar {
  background: rgb(238, 178, 144, 0.5);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.knowfarmbtn {
  display: block;
  width: 150px;
  /* height: 40px; */
  max-width: 100%;
  padding: 20px 10px;
  background: #fcfdf5;
  font-size: 1.125em;
  color: #e79737;
  border: none;
  margin: 10px;
  padding: 8px 16px;
  border: 2px solid #838080;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.knowfarmbtn:hover {
  display: block;
  width: 150px;
  // height: 40px;
  background-color: #fcfdea;
  color: #e79737;
  border: 2px solid #838080;
  border-radius: 5px;
  margin: 10px;
  padding: 8px 16px;
}
// .offcanvasbtn {
//   border-radius: 5px;
//   padding: 10px 15px;
//   border: 0;
//   background: #f5f5f5;
// }
// .navbox {
//   height: 90px;
// }
// .navbar {
//   background: #f5f5f5;
//   height: 90px;
//   margin-bottom: 30px;
// }
@media screen and (max-width: 992px) {
  .navbar ul {
    display: none;
  }
}
.map {
  width: 100%;
  height: 100%;
}
